@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
  background-image: url(../images/result_bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
}

.white-shadow {
  box-shadow: 0 4px 20px rgba(255, 255, 255, 0.5);
}

h1,h2 {
  letter-spacing: 2px;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

span{
    color: white;
}