<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
			crossorigin="anonymous" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
			integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer" />
		<link rel="stylesheet" href="../static/css/style.css" />
		<link rel="stylesheet" href="../static/css/about-prj.css" />
	</head>

	<body>
		 <canvas id="star-canvas"></canvas>
		<div class="container my-5 custom-border px-4">
			<div class="my-5"></div>
			<h1>About the Project</h1>
			<div class="line-short"></div>
			<h5 class="my-5">
				Our major project focuses on predicting rice salinity levels using deep
				learning techniques. Salinity stress is a critical factor affecting rice
				crops, and accurate classification of rice varieties based on their
				tolerance levels can help improve agricultural practices. By analyzing
				images of rice plants, we aim to
				<span class="cat">categorize</span> them into
				<span class="five">five</span> distinct classes:
				<span class="clss"
					>Highly Tolerant, Tolerant, Moderately Tolerant, Sensitive, and Highly
					Sensitive.
				</span>
				We are leveraging powerful models like
				<span class="incp">InceptionV3</span>, <span class="vgg">VGG16</span>,
				<span class="eff">EfficientNet</span> and
				<span class="resnet">ResNet</span> to analyze visual data, applying
			<span class="el">ensemble learning</span>for more accurate predictions. This project involves
				extensive data preprocessing, model fine-tuning, and evaluation using
				key performance metrics such as accuracy and precision. Our goal is to
				provide a reliable solution that can aid farmers and agricultural
				scientists in identifying optimal rice varieties 
			</h5>
		</div>
<script src="../static/js/script.js"></script>
		<script
			src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
			integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
			crossorigin="anonymous"></script>
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
			integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
			crossorigin="anonymous"></script>
	</body>
</html>
